<div class="jumbotron text-center">
    <h1 class="display-4">HomeworkApp®</h1>
    <p class="lead">Welcome to the HomeworkApp</p>
</div>
<div class="container">
    <div class="row">
        <div class="col test">
            <img routerLink="huiswerk" src="../../assets/img/Huiswerk.jpg">
            <div class="overlay">
                <div class="text">Homework</div>
            </div>
        </div>
        <div class="col test">
            <img routerLink="agenda" src="../../assets/img/Agenda.jpg">
            <div class="overlay">
                <div class="text">Agenda</div>
            </div>
        </div>
        <div class="col test">
            <img routerLink="login" src="../../assets/img/Login.jpg">
            <div class="overlay">
                <div class="text">Login</div>
            </div>
        </div>
    </div>
</div>
