<div class="jumbotron text-center">
    <h1 class="display-4">HomeworkApp®</h1>
    <p class="lead">Welcome to the HomeworkApp, Click here to <span class="change-cursor"
                                                                    routerLink="login">Login</span></p>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <!--Huiswerk here-->
        </div>
        <div class="col">
            <!--Agenda here-->
        </div>
        <div class="col">
            <!--Login here else Profiel-->
        </div>
    </div>
</div>
