<div class="jumbotron text-center">
    <h1 class="display-4">Register</h1>
    <p class="lead">Make your account here</p>
</div>
<div>
    <div class="container col-7 bg-light p-3 rounded">
        <div class="form-row">
            <div class="form-group col-6">
                <label for="inputFirstName1">First Name</label>
                <input type="text" [(ngModel)]="username" class="form-control" id="inputFirstName1" placeholder="First Name">
                {{username}}
            </div>
            <div class="form-group col-6">
                <label for="inputLastName1">Last Name</label>
                <input type="text" class="form-control" id="inputLastName1" placeholder="Last Name">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-2">
                <label for="inputPostcode1">Postcode</label>
                <input type="text" class="form-control" id="inputPostcode1" placeholder="Postcode">
            </div>
            <div class="form-group col-4">
                <label for="inputCity1">City</label>
                <input type="text" class="form-control" id="inputCity1" placeholder="City">
            </div>
            <div class="form-group col-4">
                <label for="inputStreet1">Street</label>
                <input type="text" class="form-control" id="inputStreet1" placeholder="Street">
            </div>
            <div class="form-group col-2">
                <label for="inputNumber1">Number</label>
                <input type="number" class="form-control" id="inputNumber1" placeholder="Number">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="inputClass1">Class</label>
                <input type="text" class="form-control" id="inputClass1" placeholder="Class">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="inputEmail2">Email Address</label>
                <input type="email" [(ngModel)]="email" class="form-control" id="inputEmail2" placeholder="Email">
                {{email}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="inputPassword2">Password</label>
                <input type="password" class="form-control" [(ngModel)]="password" id="inputPassword2" placeholder="Password">
                {{password}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="registerUser()">Sign in</button>
    </div>
</div>
